@{
    ViewBag.Title = "Gonder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gonder</h2>
ViewBag-->@ViewBag.Mesaj
<br />
<hr />
ViewDatadan-->@ViewData["Mesaj"];
<br />
<hr />
TempDatadan-->@TempData["Mesaj"];
